body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: extra-bold, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px 128px;
  background-color: #1F2937;
  color: #F9FAF8;
  font-weight: bold;
}

header > ul {
  display: flex;
  gap: 16px;
  color: #E5E7EB;
  list-style: none;
  margin: 0;
  font-weight: normal;
}

.title-section {
  display: flex;
}

.info-section {
  display: flex;
}

.quote-section {
  display: flex;
}

.sign-up-section {
  display: flex;
}

footer {
  display: flex;
}
