body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: extra-bold, sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 16px 128px;
  background-color: #1F2937;
  color: #F9FAF8;
  font-weight: bold;
}

header > ul {
  display: flex;
  gap: 16px;
  color: #E5E7EB;
  list-style: none;
  margin: 0;
  font-weight: normal;
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 128px 128px;
  background-color: #1F2937;
  color: #F9FAF8;
}

.title-section .left-side {
  max-width: 450px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

.title-section h1 {
  margin: 0;
}

.title-section p {
  color: #E5E7EB;
  font-size: 16px;
}

.title-section button {
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  border-width: 0;
  width: 128px;
  height: 40px;
}

.title-section .right-side {
  width: 400px;
  height: 200px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  color: #1F2937;
}

.card-wheel {
  display: flex;
  gap: 32px;
}

.card {
  width: 150px;
}

.card div {
  border-style: solid;
  border-width: 4px;
  border-color: #3882F6;
  border-radius: 8px;
  width: 150px;
  height: 150px;
}

.card p {
  text-align: center;
  margin: 8px 0;
  color: #4F5967;
}

.quote-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #E5E7EB;
  color: #1F2937;
  padding: 64px 256px;
}

.quote-section blockquote {
  font-size: 24px;
  font-family: "light italic", "Courier New", serif;
  font-style: italic;
  margin: 0;
}

.quote-section span {
  font-weight: bold;
}

.sign-up-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 256px;
}

.sign-up-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882F6;
  color: #F9FAF8;
  border-style: none;
  border-radius: 8px;
  padding: 16px 64px;
  width: 900px;
  height: 94px;
}

.sign-up-text h4 {
  font-weight: bold;
  font-size: 22px;
  margin: 2px;
}

.sign-up-text p{
  color: #E5E7EB;
  margin: 2px;
}

.sign-up-card button {
  border-style: solid;
  border-color: white;
  border-radius: 8px;
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 32px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 32px 256px;
}
